{% extends "admin/template.html.twig" %}
{% block body %}

    <ul class="list-inline">
        <li>
            <a class="btn btn-xs btn-success" href="{{ path('app_admin_booking_create') }}">
                <span class="fa fa-plus"></span>
                Créer
            </a>
        </li>
    </ul>
    <div class="table-responsive">
        <table class="table table-bordered table-condensed table-hover">
            <thead>
            <tr>
                <th>N° de réserv</th>
                <th>Date réserv</th>
                <th>Duree</th>
                <th>Date arrivé</th>
                <th>Sitter</th>
                <th>Réservé par</th>
                <th>E-mail</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Code postal</th>
                <th colspan="2" class="sm"></th>
            </tr>
            </thead>
            <tbody>
            {% set _token = csrf_token('BOOKING_DELETE') %}
            {% for booking in bookings %}
                <tr>
                    <td>{{ booking.id }}</td>
                    <td>{{ booking.dateBooking|date('Y-m-d H:i:s') }}</td>
                    <td>{{ booking.duree }}  Heures</td>
                    <td>{{ booking.dateArrived|date('Y-m-d H:i:s') }}</td>
                    <td>{{ booking.sitter }}</td>
                    <td>{{ booking.userNom }}</td>
                    <td>{{ booking.email }}</td>
                    <td>{{ booking.adresse }}</td>
                    <td>{{ booking.ville }}</td>
                    <td>{{ booking.cp }}</td>
                    <td class="sm">
                        <a class="btn btn-xs btn-warning" href="{{ path('app_admin_booking_update',{id:booking.id}) }}">
                            <span class="fa fa-pencil"></span>
                            Modifier
                        </a>
                    </td>
                    <td class="sm">
                        <a class="btn btn-xs btn-danger" href="{{ path('app_admin_booking_delete',{id:booking.id,_token:_token}) }}">
                            <span class="fa fa-trash-o"></span>
                            Supprimer
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}