{% extends "admin/template.html.twig" %}
{% block body %}

    <ul class="list-inline">
        <li>
            <a class="btn btn-xs btn-success" href="{{ path('app_admin_sitter_create') }}">
                <span class="fa fa-plus"></span>
                Créer
            </a>
        </li>
    </ul>
    <div class="table-responsive">
        <table class="table table-bordered table-condensed table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Ville</th>
                <th>Code postal</th>
                <th>Nbr missions</th>
                <th>Disponibilité</th>
                <th colspan="2" class="sm"></th>
            </tr>
            </thead>
            <tbody>
            {% set _token = csrf_token('SITTER_DELETE') %}
            {% for sitter in sitters %}
                <tr>
                    <td>{{ sitter.id }}</td>
                    <td>{{ sitter.firstname }}</td>
                    <td>{{ sitter.lastname }}</td>
                    <td>{{ sitter.email }}</td>
                    <td>{{ sitter.ville }}</td>
                    <td>{{ sitter.cp }}</td>
                    <td>{{ sitter.mission }}</td>
                    <td>{{ sitter.dispo }}</td>
                    <td class="sm">
                        <a class="btn btn-xs btn-default" href="{{ path('app_admin_sitter_update',{id:sitter.id}) }}">
                            <span class="fa fa-pencil"></span>
                            Modifier
                        </a>
                    </td>
                    <td class="sm">
                        <a class="btn btn-xs btn-default" href="{{ path('app_admin_sitter_delete',{id:sitter.id,_token:_token}) }}">
                            <span class="fa fa-trash-o"></span>
                            Supprimer
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}