<!DOCTYPE html>
<html>
	<head>
		<!-- Title here -->
		<title>Erreur {{ status_code }}</title>
		<!-- Description, Keywords and Author -->
		<meta name="description" content="Your description">
		<meta name="keywords" content="Your,Keywords">
		<meta name="author" content="ResponsiveWebInc">
      
		<!-- Google web fonts -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- Styles -->
		<!-- Bootstrap CSS -->
		<link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
		<!-- Slider Revolution CSS -->
		<link href="{{ asset('css/settings.css') }}" rel="stylesheet">
		<!--[if IE 8]>
		<link rel="stylesheet" href="css/settings-ie8.css">
		<![endif]-->
		<!-- Animate CSS -->
		<link href="{{ asset('css/animate.min.css') }}" rel="stylesheet">
		<!-- jQuery prettyPhoto -->
		<link href="{{ asset('css/prettyPhoto.css') }}" rel="stylesheet">
		<!-- Font awesome CSS -->
		<link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet">		
		<!-- Custom CSS -->
		<link href="{{ asset('css/style.css') }}" rel="stylesheet">
		<!--[if IE]>
			<link rel="stylesheet" type="text/css" href="css/style-ie.css" />
		<![endif]-->
            
		<!-- Favicon -->
		<link rel="shortcut icon" href="#">
	</head>
	
	<body id="wood-body">

                        
                              
			<div class="out-container">
				<!-- Error page -->
				<div class="error-page text-center">
					<div class="error-page-inner">
						<h1>Oops!!! Erreur <strong>{{ status_code }}</strong></h1>
						<p>{{ status_text }}</p>
						<p>Please use the below search box to search our site.</p>
						
						
					</div>
				</div>
			</div>
		
      
	   <!-- Javascript files -->
	  <!-- jQuery -->
	  <script src="{{ asset('js/jquery.js') }}"></script>
	  <!-- Bootstrap JS -->
	  <script src="{{ asset('js/bootstrap.min.js') }}"></script>
	  <!-- Revolution Slider JS -->
	  <script src="{{ asset('js/jquery.themepunch.revolution.min.js') }}"></script>
	  <script src="{{ asset('js/jquery.themepunch.plugins.min.js') }}"></script>
	  <!-- jQuery way points -->
	  <script src="{{ asset('js/waypoints.min.js') }}"></script>
	  <!-- Pretty Photo And Isotope JS -->
	  <script type="text/javascript" src="{{ asset('js/isotope.js') }}"></script>
	  <script type="text/javascript" src="{{ asset('js/jquery.prettyPhoto.js') }}"></script>
	  <!-- Respond JS for IE8 -->
	  <script src="{{ asset('js/respond.min.js') }}"></script>
	  <!-- HTML5 Support for IE -->
	  <script src="{{ asset('js/html5shiv.js') }}"></script>
	  <!-- Custom JS -->
	  <script src="{{ asset('js/custom.js') }}"></script>
	  
	  <!-- This page JS -->
	  <script type="text/javascript">
			//code here....
	  </script>
            
	</body>	
</html>