{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            {{ form_start(contactForm,{attr:{novalidate:'novalidate'}}) }}
            {{ form_row(contactForm.name) }}
            {{ form_row(contactForm.email) }}
            {{ form_row(contactForm.subject) }}
            {{ form_row(contactForm.message) }}
            <input type="submit" class="btn btn-success btn-block">
            {{ form_end(contactForm) }}
        </div>
    </div>
{% endblock %}
